In [1]:
import mysql.connector
import urllib.request
import pandas as pd
import uuid
import re

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="wta"
)
mycursor = mydb.cursor()

In [149]:
df = pd.read_excel('data/women clothing/women_top.xlsx')

In [150]:
df.head()

,Unnamed: 0,title,price,desc,details,review,pic
0,0,Mitaha Casual Western Off Shoulder Top for Jea...,₹399.00,"['Care Instructions: Machine Wash', 'Fit Type:...","['Date First Available:30 October 2020', 'Manu...",3.6 out of 5,https://images-na.ssl-images-amazon.com/images...
1,1,Cullinan Wears Woman Casual Full Sleeves high ...,₹999.00,"['Care Instructions: Machine Wash', 'Fit Type:...","['Date First Available:11 October 2020', 'ASIN...",Nan,https://images-na.ssl-images-amazon.com/images...
2,2,Harpa Women Top,"₹1,199.00","['Care Instructions: Hand Wash Only', 'Fit Typ...","['Item Weight:15 Grams', 'Date First Available...",4 out of 5,https://images-na.ssl-images-amazon.com/images...
3,3,fmania J B Fashion Women's Polyester Sky Blue ...,"₹1,499.00","['Care Instructions: Dry Clean Only', 'Fit Typ...",['Product Dimensions:24 x 4 x 25 cm; 199 Grams...,3.7 out of 5,https://images-na.ssl-images-amazon.com/images...
4,4,Styleville.in Women's Top,"₹1,199.00","['Care Instructions: Machine Wash', 'Fit Type:...","['Date First Available:3 March 2020', 'Manufac...",3.8 out of 5,https://images-na.ssl-images-amazon.com/images...

In [151]:
for i in range(len(df['pic'])):
    url = df['pic'][i]
    if df['pic'][i].split(':')[0]=='data':
        df.drop(i)
        continue
    ext=url.split('.')[-1]
    id = str(uuid.uuid4())
    urllib.request.urlretrieve(url, f"website/assets/images/{id}.{ext}")
    df['pic'][i]=id+"."+ext

C:\Users\Adithya\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [152]:
df.to_excel('data/women clothing/women_top.xlsx')

In [153]:
for i in range(len(df)):
    if df['price'][i]=='nan':
        df['price'][i]=df['price'][i-1]
#     price=re.sub('₹','',df['price'][i])
    try:
        sql = "INSERT INTO product (name,price,description,details,review,image,sub_id) VALUES (%s, %s,%s, %s,%s, %s,%s)"
        val = (df['title'][i],price,df['desc'][i],df['details'][i],'4',df['pic'][i],25)
        mycursor.execute(sql, val)
    except:
        pass

In [154]:
mydb.commit()

In [47]:
import re

In [50]:
re.sub('₹','',df['price'][0])

' 2,995.00'

In [48]:
df['price'][0]

' ₹2,995.00'